@import './app.variables.scss';

a {
  text-decoration: none;
}

.structure {
  width: 66.5%;
  margin: 0 auto;
}

.br-15px {
  border-radius: 0.75rem;
  overflow: hidden;
}

h1 {
  font-size: 2.4rem;
  font-weight: 700;
  margin: 0;
}

h4 {
  font-size: 1.6rem;
  font-weight: 600;
  margin: 0;
}

@media (max-width: 600px) {
  .structure {
    width: 90%;
  }

  h1 {
    font-size: 1.2rem;
  }

  h4 {
    font-size: 1.2rem;
    line-height: 1.2rem;
  }
}
