@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
    --green-color: #2ba84a;
    --white-color: #fff;
    --grey-color: #afafaf;
}

/* semantic color variables for this project */
:root {

}

@media (prefers-color-scheme: dark) {
    :root {

    }
}

body {
    font-family: 'Poppins', sans-serif;
}

h2 {
    font-size: 2rem;
}
